<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movieticketingplatform.mapper.MoviesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.movieticketingplatform.model.domain.Movies">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="director" property="director" />
        <result column="actors" property="actors" />
        <result column="genre" property="genre" />
        <result column="duration" property="duration" />
        <result column="release_date" property="releaseDate" />
        <result column="language" property="language" />
        <result column="description" property="description" />
        <result column="poster_url" property="posterUrl" />
        <result column="is_deleted" property="isDeleted" />
        <result column="is_putaway" property="isPutaway" />
        <result column="contact_phone" property="contactPhone" />
        <result column="count" property="count" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="price" property="price" />

    </resultMap>
    <select id="pageList" resultType="com.example.movieticketingplatform.model.domain.Movies">
        select *from movies
        <where>
            is_deleted=0
            <if test="movies.genre !='' and movies.genre != null">
                and login_name like '%${movie.genre}%'
            </if>
            <if test="movies.title !='' and movies.title != null">
                and remark like '%${movie.title}%'
            </if>
        </where>
    </select>
</mapper>
