<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.movieticketingplatform.mapper.OrderOperationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.movieticketingplatform.model.domain.OrderOperation">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="operator_type" property="operatorType" />
        <result column="operator_id" property="operatorId" />
        <result column="operation" property="operation" />
        <result column="operation_desc" property="operationDesc" />
        <result column="operation_time" property="operationTime" />
    </resultMap>

</mapper>
